{% include 'nav.html.twig' %}

<!-- Carousel -->
    <div class="container-fluid -carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="{{ base_path  ~ directory }}/img/slider1.png" alt="research">
                    <div id="research" class="carousel-caption">
                        <div class="title">Centre for Biological Research</div>
                        <p class="margin-top-2">Spanish National Research Council</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ base_path  ~ directory }}/img/slider2.png" alt="report">
                    <div id="download" class="carousel-caption">
                        <div class="title">Download our latest report</div>
                    <p>
                        <a href="http://www.cib.csic.es/Memo/index.php">
                            <button class="button-primary" type="button"><img src="{{ base_path  ~ directory }}/img/fill-107.png" alt=""/>
                                <span>Scientific report 2015</span>
                            </button>
                        </a>
                    </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive big" src="{{ base_path  ~ directory }}/img/slider3.png" alt="Flower">
                    <img class="img-responsive small" src="{{ base_path  ~ directory }}/img/slider1.png" alt="research" style="display:none;">
                    <div id="development" class="carousel-caption">
                        <div class="title">Research & Development</div>
                        <p>Collaboration, Management and Technology transfer</p>
                        <p>
                            <a href="./research">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ base_path  ~ directory }}/img/slider4.png" alt="Flower">
                    <div id="outreach" class="carousel-caption">
                        <div class="title">Outreach</div>
                        <p>
                            Schools, press, get to know all the things we do
                        </p>
                        <p>
                            <a href="./outreach">Learn more</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Content -->
    <main class="container-fluid">
        <!-- CIB -->
        <div class="row section-title">
            <div class="col-md-12">
            <span class="marker"></span>
            <span>CIB</span>
            <span class="pull-right"><a href="about#sec4">Contact us</a></span>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="col-md-12">
                The Center for Biological Research (CIB) is one of the research
                centers with greater prestige and tradition in the Superior
                Council for Scientific Research (CSIC) State Agency.
                The CIB has been at the forefront of research in biology since
                its inception in 1953. The initial activity of the CIB was
                primarily oriented studies in biology and biomedicine but
                currently is a multidisciplinary center, which brings together
                researchers from the areas of Biology, Agricultural Sciences
                and Chemical. It is an active and dynamic center,
                constantly evolving.
            </div>
        </div>
        <!-- SEARCH -->
        <div class="row section-title">
            <div class="col-md-12">
                <span class="marker"></span>
                <span>SEARCH</span>
            </div>
        </div>
        <div class="row search-form">
            <div class="col-md-12">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search the entire site">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><img src="{{ base_path  ~ directory }}/img/Lupa.svg" alt="" />Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>


        <div>
            {{ page.content }}
        </div>


        <!-- Footer -->
        <div class="row section-title margin-top-10">
            <div class="col-md-12 title">
                <span class="marker"></span>
                <span>LINKS OF INTEREST</span>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="http://www.sebc.es/">Sociedad Española de Biología Celular</a>
                    </li>
                    <li>
                        <a href="http://www.semicrobiologia.org/">Sociedad Española de Microbiología</a>
                    </li>
                    <li>
                        <a href="http://www.sebiot.org/">Sociedad Española de Biotecnología</a>
                    </li>
                    <li>
                        <a href="http://www.secugen.es/">SECUGEN Servicio de Secuenciación DNA</a>
                    </li>
                    <li>
                        <a href="http://apored.bq.uam.es/">Red Española de Apotosis</a>
                    </li>
                    <li>
                        <a href="http://www.geirli.net/">Grupo Español de Radicales Libres</a>
                    </li>
                    <li>
                        <a href="http://www.alkaptonuria.cib.csic.es/index.htm">Aku Database</a>
                    </li>
                    <li>
                        <a href="http://www.proretina.com/">Proretina Therapeutics</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 logos">
                <div class="col-md-6">
                    <ul>
                        <li class="margin-bottom-5">
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/logo-pie-eu.png" alt=""/></a>
                        </li>
                        <li class="margin-bottom-5">
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/4-i-n-n-p-a-c-t-o-logo.png" alt=""/></a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/3-logo-ce-horizontal-en-quadri-jpg.png" alt=""/></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="margin-bottom-5">
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/2-madrid.png" alt=""/></a>
                        </li>
                        <li class="margin-bottom-5">
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/logo-c-d-t-i.png" alt=""/></a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ base_path  ~ directory }}/img/logo-isciii.png" alt=""/></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </main>

{% include 'footer.html.twig' %}
